.gameBoard {
  position: relative;
  margin: auto;
  border-radius: 20px;
  width: 700px;
  height: 700px;
}

.gameBoard h2 {
  margin: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.canvas {
  z-index: 2;
}

.field {
  background-color: rgb(0, 4, 120);
  width: 10%;
  height: 10%;
  border: 2px solid black;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.subfield {
  background-color: rgb(0, 4, 120);
  width: 4%;
  height: 4%;
  border: 2px solid black;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.piece {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 50%;
  z-index: 3;
}

.subfield .piece {
  width: 250%;
  height: 250%;
  object-fit: contain;
  border-radius: 50%;
  z-index: 3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.field:hover {
  cursor: pointer;
  background-color: #0062b2;
  border: 1px solid #0062b2;
  box-shadow: 0 0 5px #0062b2, 0 0 20px #0062b2, 0 0 50px #0062b2,
      0 0 100px #0062b2;
}

.subfield:hover {
  cursor: pointer;
  background-color: #0062b2;
  border: 1px solid #0062b2;
  box-shadow: 0 0 5px #0062b2, 0 0 20px #0062b2, 0 0 50px #0062b2,
      0 0 100px #0062b2;
}

.piece:hover {
  cursor: pointer;
}

.selected {
  background-color: #008cff;
  border: 1px solid #008cff;
  box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff,
      0 0 100px #008cff;
}

.selected:hover {
  background-color: #008cff;
  border: 1px solid #008cff;
  box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff,
      0 0 100px #008cff;
}

