@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Updock&display=swap');
.authPage {
  display: flex;
  justify-content: flex-end;
  background: #fff;
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  margin: 0;
  background-repeat: no-repeat;
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
}

.leftSide {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightSide {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
  margin-top: 1em;
  width: 50%;
  padding: 1em;
}

.registerForm h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #666;
}

.linkContainer {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin-bottom: 1em;
}
.linkContainer a {
  color: #000;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin: auto;
}

.registerForm .submitButton {
  margin-top: 1em;
  width: 70%;
  padding: 0.5em;
  border-radius: 1em;
  border: 1px solid #ccc;
  cursor: pointer;
  background: #fff;
  transition: background 0.4s, color 0.4s;
}
.registerForm button:hover,
.registerForm button:focus {
  background: #000;
  color: #fff;
}

.oAuth2Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.oAuth2Container .orLine {
  display: flex;
  align-items: center;
  width: 100%;
  text-align: center;
}
.oAuth2Container .orLine p {
  margin: 0 1em;
  white-space: nowrap;
}
.oAuth2Container .orLine span {
  flex-grow: 1;
  height: 1px;
  background-color: #ccc;
}

.oAuth2Container .oAuthMethod {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 1em;
  width: 100%;
  margin-top: 1em;
}

.oAuth2Container .oAuthMethod p {
  font-size: 1em;
  margin: 0.5em;
  margin-inline: 1em;
}
.oAuth2Container .oAuthMethod svg {
  font-size: 1.1em;
}