.buttonContainer {
  grid-row: 2;
  grid-column: 1;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  gap: 1em;
}
.buttonContainer button {
  padding: 1em 2em;
  background: var(--itemBackground);
  color: #fff;
  font-weight: 600;
  border: 1px solid #666;
  border-radius: 1em;
  cursor: pointer;
}